@page "/"
@using Collector.Client.Dtos.Login
@using Collector.Client.Services.Login
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies
@inject Collector.Client.SessionHelpers.SessionManager sesionManager;
@inject ILoginService loginservice;
@inject NavigationManager Navigation;


<BaseScreen CustomStyles="background-color:#25251D">
    
    <div Class="secondary-container">
        <!-- Columna izquierda (Bienvenida) -->
        <div Class="left-container">
            <h4 class="welcome-text">
                BIENVENIDO <br />A<br /> COLLECTORD
            </h4>

            <MudText Typo="Typo.body1" Class="description-text">
                CollectoRD es una iniciativa que surge para colaborar con el medio ambiente, esta
                iniciativa permite que puedas conectar con autoridades o personas para limpiar el futuro del país.
            </MudText>

            <MudText Typo="Typo.body1" Class="register-text">
                ¿No tienes una cuenta? <br />
                <span class="font-bold">¡Vamos regístrate!</span>
            </MudText>
            <MudButtonGroup Variant="Variant.Filled">
                <MudButton Class="register-btn" Style="background-color:#7B885B; color:white" Href="/RegisterUser">
                    Institución
                </MudButton>
                <MudButton Class="register-btn" Style="background-color:#7B885B; color:white" Href="/RegisterUser">
                    Persona
                </MudButton>
            </MudButtonGroup>
        </div>

        <!-- Columna derecha (Formulario de inicio de sesión) -->
        <div Class="right-container">
            <MudText Typo="Typo.h4" Class="login-text fw-bold ms-4 mb-2">Iniciar Sesión</MudText>
            <EditForm Model="@loginModel" OnValidSubmit="Onsubmit">
            <DataAnnotationsValidator/>
            @*Inputs for the user *@
                
                <MudTextField @bind-Value="loginModel.Email" Variant="Variant.Outlined" 
                              Label="Correo electrónico" InputType="InputType.Email" Class="custom-label w-full mb-3" />
                <ValidationMessage style="validation-message" For="(() => loginModel.Email)"/>

                <MudTextField @bind-Value="loginModel.Password" Variant="Variant.Outlined"
                              Label="Contraseña" InputType="InputType.Password" Class="custom-label w-full" />
                <ValidationMessage class="validation-message" For="(() => loginModel.Password)" />

                <MudText Class="ms-15 mt-3">
                    <NavLink href="ForgotPassword" style="color:#4C673C; font-weight:bolder" class="forgetPasswordText">¿Olvidaste tu contraseña?</NavLink>
                </MudText>

                <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit"
                Style="background-color:#7B885B; margin-top:10px; 
                        color:white; width:100%">
                    Iniciar Sesion
                </MudButton>

            </EditForm>
        </div>
    </div>
</BaseScreen>

<style>
    .description-text {
        color: #4a4a4a;
        text-align: center;
        margin-bottom: 24px;
    }

    login-input {
        background-color: #FFFCFC91;
        border-radius:20px;
    }

    .register-text {
        font-weight: bold;
        color: #4a4a4a;
        text-align: center;
        margin-bottom: 19px;
    }

    .mud-button.register-btn {
        background-color: #7B885B;
        color: black;
        font-weight: 600;
        padding: 8px 16px;
        border-radius: 8px;
        border: 3px solid #767572;
        cursor: pointer;
    }

    .login-btn {
        margin-top: 20px;
        background-color: #7B885B;
        font-weight: 600;
        width: 100%;
        padding: 12px 0;
        color: white;
        border-radius: 8px;
    }

    .custom-label .mud-input-label {
        background-color: #D0D0CF; /* Cambia este color al que tienes en el contenedor /
        color:  black; / Color del texto del label, ajusta según prefieras */
        padding: 0 4px;
        font-weight:bold;
    }
</style>


@code {

    [CascadingParameter]
    private ReqLoginDto loginModel { set; get; } = new();

    public async Task Onsubmit()
    {
        await loginservice.Login(loginModel);
        Navigation.NavigateTo("/User/Reports");
    }
}