﻿@using Collector.Client.Dtos.Login
<h3>Step3UserReg</h3>

<div class="step3-container">
    <div class="custom-image-title">Foto de Perfil</div>
    <MudTextField @bind-Value="@reqUserDto.ProfileImage" InputType="InputType.Hidden" />

    <MudFileUpload T="IBrowserFile" @bind-Value="@reqUserDto.ProfileImage" AcceptedFileTypes="image/*" MaxFileSize="2097152" />
    @if (reqUserDto.ProfileImage != null)
    {
        <MudText Typo="Typo.body2">Vista previa:</MudText>
        <img src="@GetImagePreview(reqUserDto.ProfileImage)" alt="Imagen de perfil" width="100" height="100" class="image-preview" />
    }
    <p class="custom-message-image">Puedes dar clic en el círculo para seleccionar una imagen o dejar el avatar por defecto.</p>
</div>

@code {
    [Parameter]
    public ReqUserDto reqUserDto { get; set; }

    [Parameter]
    public bool IsInstitution { get; set; }

    #region Handle Form Methods
    private void HandleValidSubmit()
    {
        Console.WriteLine("Formulario enviado exitosamente.");
    }

    private string GetImagePreview(IBrowserFile file)
    {
        var buffer = new byte[file.Size];
        file.OpenReadStream().ReadAsync(buffer);
        return $"data:image/jpeg;base64,{Convert.ToBase64String(buffer)}";
    }
    #endregion
}