@page "/User/Create/Reports"
@using Blazored.FluentValidation

<div class="primary-container">

    <h3 class="text-white">Crea un reporte</h3>

    <main class="secundary-container">
        <div class="card-body-container">
            <div class="card-body">
            </div>
        </div>
        <div>
            <MudButton></MudButton>
        </div>
    </main>
</div>

<style>

    .primary-container {
        width: 100vw;
        min-height: 100vh;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #25251D;
    }

    .secundary-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    .card-body-container {
        display:flex;
        background-color: #BDBABAF2;
        width: 60%;
        min-height: 300px;
        margin: 20px auto; /* Para centrar */
        border-radius: 10px; /* Opcional: para estética */
    }

</style>