@page "/Users/EditUser"
@using Blazored.FluentValidation
@using Collector.Client.Dtos.Login
@using Collector.Client.Dtos.User
@using Collector.Client.Helpers
@using Collector.Client.Services
@using Collector.Client.Services.User
@inject IJSRuntime JS;
@inject IUserService _userService

<div class="primary-container">
    <main class="secondary-container">
        <EditForm Model="@User" OnValidSubmit="OnSubmitUser" class="edit-form-style">
        <h3 class="title">Crea un usuario</h3>
        <div class="card-body-container">
            <FluentValidationValidator/>

            <div class="text-field-container align-content-center">

                <div class="text-field-style">
                    <div class="d-flex justify-content-between">
                        <label class="custom-label">Nombre</label>
                        <ToolTipCustom ToolTipTextStyle="font-weight:bold; font-size:small; width:250px"
                                       ToolTipDescription="Coloque el nombre completo del usuario."
                                       ToolTipStyle="color:#37490B"/>
                    </div>
                    <MudTextField @bind-Value="User.FirstName" Variant="Variant.Outlined" Style="custom-textfield: 0;"/>
                    <ValidationMessage style="validation-message: 0 ;" For="(() => User.FirstName)"/>
                </div>

                <div class="text-field-style">
                    <label class="custom-label">Apellido</label>
                    <MudTextField @bind-Value="User.LastName" Variant="Variant.Outlined" Style="custom-textfield: 0;"/>
                    <ValidationMessage style="validation-message: 0 ;" For="(() => User.LastName)"/>
                </div>

                <div class="text-field-style">
                    <label class="custom-label">Nombre de usuario</label>
                    <MudTextField @bind-Value="User.UserName" Variant="Variant.Outlined" Style="custom-textfield: 0;"/>
                    <ValidationMessage style="validation-message: 0 ;" For="(() => User.UserName)"/>
                </div>

                <div class="text-field-style">
                    <label class="custom-label">Teléfono</label>
                    <MudTextField @bind-Value="User.Phone" Variant="Variant.Outlined" Style="custom-textfield: 0;"/>
                    <ValidationMessage style="validation-message: 0 ;" For="(() => User.Phone)"/>
                </div>

                <div class="text-field-style">
                    <label class="custom-label">Correo Electrónico</label>
                    <MudTextField @bind-Value="User.Email" Variant="Variant.Outlined" Style="custom-textfield: 0;"/>
                    <ValidationMessage style="validation-message: 0 ;" For="(() => User.Email)"/>
                </div>

            </div>
  
        </div>
        <div class="button-send-container">
            <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit"
                       Style="background-color:#515B3B; color:white; width:400px;">
                Editar perfil
            </MudButton>
        </div>

        </EditForm>
    </main>
</div>

<script>
    function showSweetAlert(Message, icon) {
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });
        Toast.fire({
            icon: icon,
            title: Message
        });
    };
</script>

<style>
    .text-secondary {
        margin: 7px;
    }

    .validation-message {
        color: red;
    }

    .edit-form-style {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .description-container,
    .text-field-style {
        margin-bottom: 15px;
    }

    .button-send-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
</style>

@code {
    public EditUserDto User { get; set; } = new();

    #region File Manager
    private List<IBrowserFile> _selectedFiles = new();
    private List<IBrowserFile> _processedFiles = new();

    public async Task UploadProfileImage(IReadOnlyList<IBrowserFile> newFiles)
    {
        var filesToProcess = newFiles.Except(_processedFiles).ToList();
        if (filesToProcess.Any())
        {
            _selectedFiles.AddRange(filesToProcess);
            _processedFiles.AddRange(filesToProcess);

            var formFiles = await ImageConverter.ConvertBrowserFilesToFormFilesAsync(_selectedFiles);
            foreach (var image in formFiles)
            {
                User.File = image;
            }
            _selectedFiles.Clear();

            User.Image = await ImageConverter.ConvertSingleImageToStringAsync(newFiles[0]);
            StateHasChanged();
        }
    }
    #endregion

    #region On submitUser
    public async Task OnSubmitUser()
    {
        var userJson = System.Text.Json.JsonSerializer.Serialize(User, new System.Text.Json.JsonSerializerOptions
        {
            WriteIndented = true
        });
    
        await JS.InvokeVoidAsync("console.log", userJson);
    
        var response = await _userService.UpdateUser(User);
        await JS.InvokeVoidAsync("showSweetAlert", "Usuario creado existosamente!", "success");
    }
    #endregion
}
