@using Collector.Client.Helpers
@using Microsoft.AspNetCore.Components.Forms
@using Collector.Client.Dtos.Login

<div class="step3-container">
    <MudForm Model="reqUserDto">

        <div class="custom-image-title">Foto de Perfil</div>

        <div class="img-container">

            <div>
                <label class="custom-label">Imagen</label>
                <img class="rounded-3" src="@(string.IsNullOrEmpty(ImagePreview) ? "./BosqueLindo.png" : ImagePreview)" width="275px" height="250px" />


                <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles" >
                    <ActivatorContent>
                        <MudButton 
                        Variant="Variant.Outlined"
                        Style="background-color:#7B885B;
                            width: 155px; border: 3px solid #767572; color: white;
                            border-radius: 0.5rem;font-weight: bold; margin-top:15px; margin-left:60px">Añadir imagen</MudButton>
                    </ActivatorContent>
                </MudFileUpload>
            </div>
        </div>

        <p class="custom-message-image">
            Puedes arrastrar tu imagen al área o seleccionarla haciendo clic.
        </p>
    </MudForm>
</div>

@code {
    [Parameter]
    public ReqUserDto reqUserDto { get; set; }

    private string ImagePreview { get; set; } = string.Empty;
    private IList<IBrowserFile> File = [];

    #region Handle Image Methods
    private async Task UploadFiles(IBrowserFile image)
    {
        try
        {
            if (image.Size > 1024 * 1024 * 5)
            {
                Console.WriteLine("El archivo excede el tamaño máximo permitido (5 MB).");
                return;
            }
            reqUserDto.File = await ImageConverter.ConvertImageToStringAsync(image);
            ImagePreview = reqUserDto.File;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al cargar la imagen: {ex.Message}");
        }
    }

    #endregion
}

<style>
    .input-file-rounded {
        border-radius: 50%;
        overflow: hidden;
    }
</style>
