@inherits ComponentBase

<div Class="login-container" Style="@CustomStyles">
    @ChildContent
</div>

<style>
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>

@code{
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? CustomStyles { get; set; }
}