<button class="back-to-login-btn" @onclick="NavigateToLogin">
    <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 0 36 32" width="36">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z" fill="#BDBBBB" transform="scale(1.4, 1.4)" />
    </svg>
    @ButtonText
</button>

<style>
    .back-to-login-btn {
        display: flex;
        text-align: left;
        color: #BDBBBB;
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
</style>

@code {
    [Parameter]
    public string ButtonText { get; set; } = "Inicio de sesión";

    [Parameter]
    public EventCallback OnClick { get; set; }

    private async Task NavigateToLogin()
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync(null);
        }
    }
}
