@using Collector.Client.Dtos.Reports
@inject IJSRuntime JS

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="./LeafletMap.js"></script>

<div id="map" style="width:250px; height:250px; border-radius:10px;"></div>

@code {
    [Parameter] public string Width { get; set; } = "100%";
    [Parameter] public string Height { get; set; } = "400px";
    public double Latitude { get; set; } = 18.4506168;
    public double Longitude { get; set; } = -69.6633953;
    [Parameter] public int Zoom { get; set; } = 12;
    [Parameter] public EventCallback<(double Latitude, double Longitude)> OnLocationSelected { get; set; }
    private DotNetObjectReference<LeafletMap>? dotNetRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dotNetRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("initializeLeafletMap", Latitude, Longitude, Zoom, dotNetRef);
        }
    }

    [JSInvokable("OnMapClick")]
    public async Task OnMapClick(double latitude, double longitude)
    {
        await OnLocationSelected.InvokeAsync((latitude, longitude));
        Console.WriteLine($"{latitude}-{longitude}");
    }

}