@inject IJSRuntime JS

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="./LeafletMap.js"></script>

<div id="map" style="width:@Width; height:@Height; border:10px;"></div>

@code {
    [Parameter] public string Width { get; set; } = "100%";
    [Parameter] public string Height { get; set; } = "400px";
    [Parameter] public double Latitude { get; set; } = 18.4885; // Coordenadas iniciales de Santo Domingo Este
    [Parameter] public double Longitude { get; set; } = -69.8577;
    [Parameter] public int Zoom { get; set; } = 12;

    public double SelectedLatitude { get; set; }
    public double SelectedLongitude { get; set; }

    private DotNetObjectReference<LeafletMap>? dotNetRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dotNetRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("initializeLeafletMap", Latitude, Longitude, Zoom, dotNetRef);
        }
    }

    [JSInvokable("OnMapClick")]
    public void OnMapClick(double latitude, double longitude)
    {
        SelectedLatitude = latitude;
        SelectedLongitude = longitude;
        StateHasChanged(); 
    }
}